[submodule "third_party/wpt"]
	path = third_party/wpt
	url = https://github.com/web-platform-tests/wpt.git
[submodule "third_party/rquickjs"]
	path = third_party/rquickjs
	url = https://github.com/ericc-ch/rquickjs.git
[submodule "third_party/blitz"]
	path = third_party/blitz
	url = https://github.com/ericc-ch/blitz.git
[submodule "third_party/html5ever"]
	path = third_party/html5ever
	url = https://github.com/ericc-ch/html5ever.git
